header {
  background-color: seagreen;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px;
}

header > nav {
  margin: 10px;
}

@media (max-width: 350px) {
  header > nav {
    display: none;
  }
  #hamburger-button {
    display: initial;
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}
